flows/flows.json
[
    {
        "id": "47f3c9f6f5f1b0f3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "957a3737af1f3e0b",
        "type": "ui_gauge",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "4122f889421a5eea",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "d6eb028d94267008",
        "type": "ui_gauge",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "a3171efceb9df6ec",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humidite (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "27bb1ceed4e8c754",
        "type": "ui_gauge",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "b5ccc9641d3d8f11",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pluie (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "f0ecb21a68d3e666",
        "type": "ui_gauge",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "da18f25ae1a0b0af",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Luminosite (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 400,
        "wires": []
    },
    {
        "id": "8218b0e8fb891782",
        "type": "mqtt in",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "topic": "meteo/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4df70c2ea77397f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 40,
        "wires": [
            [
                "d5dc631670902f90",
                "92ff41e15645f18c",
                "c470a25018b9d472",
                "67387120ab0df385",
                "3b527f74a65729e3"
            ]
        ]
    },
    {
        "id": "92ff41e15645f18c",
        "type": "function",
        "z": "47f3c9f6f5f1b0f3",
        "name": "function 6",
        "func": "var payload = msg.payload;\n\nif (typeof payload === \"string\") {\n    payload = JSON.parse(payload);\n}\n\nvar temp = Number(payload.temperature);\n\nif (isNaN(temp)) {\n    return null;\n}\n\nmsg.payload = temp;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 40,
        "wires": [
            [
                "77eb891a1428bee1",
                "957a3737af1f3e0b"
            ]
        ]
    },
    {
        "id": "77eb891a1428bee1",
        "type": "ui_chart",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "4122f889421a5eea",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-60",
        "ymax": "60",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d5dc631670902f90",
        "type": "function",
        "z": "47f3c9f6f5f1b0f3",
        "name": "function 7",
        "func": "var payload = msg.payload;\n\nif (typeof payload === \"string\") {\n    payload = JSON.parse(payload);\n}\n\nvar hum = Number(payload.humidite);\n\n// Filtrer les valeurs invalides\nif (isNaN(hum)) {\n    return null;\n}\n\n// ON RETOURNE SEULEMENT LA VALEUR\nmsg.payload = hum;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "4efb4f38c5379a6c",
                "d6eb028d94267008"
            ]
        ]
    },
    {
        "id": "c470a25018b9d472",
        "type": "function",
        "z": "47f3c9f6f5f1b0f3",
        "name": "function 8",
        "func": "var payload = msg.payload;\n\nif (typeof payload === \"string\") {\n    payload = JSON.parse(payload);\n}\n\nvar rain = Number(payload.pluie);\n\nif (isNaN(rain)) {\n    return null;\n}\n\nmsg.payload = rain;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "93b17384a1b1adc3",
                "27bb1ceed4e8c754"
            ]
        ]
    },
    {
        "id": "67387120ab0df385",
        "type": "function",
        "z": "47f3c9f6f5f1b0f3",
        "name": "function 9",
        "func": "var payload = msg.payload;\n\nif (typeof payload === \"string\") {\n    payload = JSON.parse(payload);\n}\n\nvar light = Number(payload.luminosite);\n\nif (isNaN(light)) {\n    return null;\n}\n\nmsg.payload = light;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 160,
        "wires": [
            [
                "d250563c993f4464",
                "f0ecb21a68d3e666"
            ]
        ]
    },
    {
        "id": "93b17384a1b1adc3",
        "type": "ui_chart",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "b5ccc9641d3d8f11",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "pluie",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d250563c993f4464",
        "type": "ui_chart",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "da18f25ae1a0b0af",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "luminosite",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4efb4f38c5379a6c",
        "type": "ui_chart",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "group": "a3171efceb9df6ec",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "humidite",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4d5ea8607d292e05",
        "type": "function",
        "z": "47f3c9f6f5f1b0f3",
        "name": "function 10",
        "func": "var payload = msg.payload;\n\nif (typeof payload === \"string\") {\n    payload = JSON.parse(payload);\n}\n\n// Construire seulement la partie dynamique\nmsg.url =\n  \"https://api.thingspeak.com/update?api_key=NJ072FS2RMOT2L5F\" +\n  \"&field1=\" + Number(payload.temperature) +\n  \"&field2=\" + Number(payload.humidite) +\n  \"&field3=\" + Number(payload.luminosite) +\n  \"&field4=\" + Number(payload.pluie);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "cd692f3766cd2478"
            ]
        ]
    },
    {
        "id": "cd692f3766cd2478",
        "type": "http request",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3b527f74a65729e3",
        "type": "delay",
        "z": "47f3c9f6f5f1b0f3",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "4d5ea8607d292e05"
            ]
        ]
    },
    {
        "id": "6be726a732f34a58",
        "type": "ui_spacer",
        "z": "47f3c9f6f5f1b0f3",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": "30",
        "height": "1"
    },
    {
        "id": "4122f889421a5eea",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "195e337217533039",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3171efceb9df6ec",
        "type": "ui_group",
        "name": "Humidite",
        "tab": "195e337217533039",
        "order": 3,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5ccc9641d3d8f11",
        "type": "ui_group",
        "name": "Pluie",
        "tab": "195e337217533039",
        "order": 4,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da18f25ae1a0b0af",
        "type": "ui_group",
        "name": "Luminosite",
        "tab": "195e337217533039",
        "order": 5,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4df70c2ea77397f4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "195e337217533039",
        "type": "ui_tab",
        "name": "Tableau de bord meteo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d4a8720c2c53d12e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]